<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <activePackageSource>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <!--<add key="All" value="(Aggregate source)" />-->
  </activePackageSource>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="SFP-Packages" value="https://mpsit.pkgs.visualstudio.com/_packaging/SFP-Packages/nuget/v3/index.json" />
    <add key="WD-App" value="https://microsoft.pkgs.visualstudio.com/DefaultCollection/_packaging/WD.Services.App/nuget/v3/index.json" />
    <add key="WD-Ext" value="https://microsoft.pkgs.visualstudio.com/DefaultCollection/_packaging/WD.Services.External/nuget/v3/index.json" />
  </packageSources>
</configuration>